In [1]:
print("test")

test

In [2]:
from sklearn import datasets

print(datasets.__all__)

['clear_data_home', 'dump_svmlight_file', 'fetch_20newsgroups', 'fetch_20newsgroups_vectorized', 'fetch_lfw_pairs', 'fetch_lfw_people', 'fetch_olivetti_faces', 'fetch_species_distributions', 'fetch_california_housing', 'fetch_covtype', 'fetch_rcv1', 'fetch_kddcup99', 'fetch_openml', 'get_data_home', 'load_boston', 'load_diabetes', 'load_digits', 'load_files', 'load_iris', 'load_breast_cancer', 'load_linnerud', 'load_sample_image', 'load_sample_images', 'load_svmlight_file', 'load_svmlight_files', 'load_wine', 'make_biclusters', 'make_blobs', 'make_circles', 'make_classification', 'make_checkerboard', 'make_friedman1', 'make_friedman2', 'make_friedman3', 'make_gaussian_quantiles', 'make_hastie_10_2', 'make_low_rank_matrix', 'make_moons', 'make_multilabel_classification', 'make_regression', 'make_s_curve', 'make_sparse_coded_signal', 'make_sparse_spd_matrix', 'make_sparse_uncorrelated', 'make_spd_matrix', 'make_swiss_roll']

# Exo 2

In [8]:
import numpy as np

dataset = np.loadtxt(
    "../data/pl.csv",  # Remplacez cette valeur par le chemin d'accès de votre fichier CSV.
    dtype={"names": ("name", "year"), "formats": ("U100", "i4")},
    skiprows=1,  # passez la première ligne, puisque c'est l'en-tête
    delimiter=",",  # le séparateur est une virgule puisqu'il s'agit d'un fichier CSV.
    encoding="UTF-8",  # encodage UTF-8
)
print(dataset)

[('ENIAC coding system', 1943) ('ENIAC Short Code', 1946)
 ('Von Neumann and Goldstine graphing system', 1946)
 ('ARC Assembly', 1947) ('Plankalkül', 1948) ('CPC Coding scheme', 1948)
 ('Curry notation system', 1948) ('Short Code', 1949)
 ('assembly language', 1949) ('Short Code', 1950) ('G-code', 1950)
 ('Birkbeck Assembler', 1950) ('Superplan', 1951) ('ALGAE', 1951)
 ('Intermediate Programming Language', 1951)
 ('Regional Assembly Language', 1951)
 ('Boehm unnamed coding system', 1951) ('Klammerausdrücke', 1951)
 ('OMNIBAC Symbolic Assembler', 1951) ('Stanislaus', 1951)
 ('Whirlwind assembler', 1951) ('Rochester assembler', 1951)
 ('Sort Merge Generator', 1951) ('autocode', 1952) ('A-0 System', 1952)
 ('Editing Generator', 1952) ('COMPOOL', 1952) ('Speedcoding', 1953)
 ('READ/PRINT', 1953) ('Fortran', 1954) ('ARITH-MATIC', 1954)
 ('autocode', 1954) ('Laning and Zierler system', 1954)
 ('MATH-MATIC', 1954) ('MATRIX MATH', 1954) ('FLOW-MATIC', 1955)
 ('PACT', 1955) ('BACAIC', 1955) ('Freiburger Code', 1955)
 ('Sequentielle Formelübersetzung', 1955) ('Internal Translator', 1955)
 ('PRINT', 1955) ('Information Processing Language', 1956)
 ('FORTRAN for the IBM 704', 1956) ('Fortran', 1957) ('COMTRAN', 1957)
 ('GEORGE', 1957) ('UNICODE', 1957) ('ALGOL 58', 1958) ('Lisp', 1958)
 ('ALGOL', 1958) ('FORTRAN III', 1958) ('FORTRAN II', 1958)
 ('JOVIAL', 1959) ('TRAC', 1959) ('COBOL', 1959) ('MAD', 1959)
 ('Lisp', 1959) ('FACT', 1959) ('COBOL', 1960) ('ALCOR', 1960)
 ('ALGOL 60', 1960) ('FORTRAN IV', 1961) ('TECO', 1962) ('SNOBOL', 1962)
 ('APL', 1962) ('Simula', 1962) ('CORC', 1962) ('CPL', 1963)
 ('JOSS', 1963) ('P′′', 1964) ('Report Program Generator', 1964)
 ('TRAC', 1964) ('BASIC', 1964) ('COWSEL', 1964) ('MARK IV', 1964)
 ('MIMIC', 1964) ('PL/I', 1964) ('Speakeasy', 1964) ('IBM RPG II', 1965)
 ('Atlas Autocode', 1965) ('TELCOMP', 1965) ('Euler', 1966)
 ('ISWIM', 1966) ('ALGOL W', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1966)
 ('JOSS', 1966) ('Coral 66', 1966) ('BCPL', 1966) ('APL', 1966)
 ('FORTRAN 66', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1967)
 ('Hop', 1967) ('XPL', 1967) ('Interlisp', 1967) ('BCPL', 1967)
 ('Simula', 1967) ('Space Programming Language', 1967) ('PILOT', 1968)
 ('ALGOL 68', 1968)]

In [9]:
import numpy as np

dataset = np.loadtxt(
    "../data/pl.tsv",  # Remplacez cette valeur par le chemin d'accès de votre fichier TSV.
    dtype={"names": ("name", "year"), "formats": ("U100", "i4")},
    skiprows=1,
    delimiter="\t",  # le séparateur est '\t' puisqu'il s'agit d'un fichier TSV.
    encoding="UTF-8",
)
print(dataset)

[('ENIAC coding system', 1943) ('ENIAC Short Code', 1946)
 ('Von Neumann and Goldstine graphing system', 1946)
 ('ARC Assembly', 1947) ('Plankalkül', 1948) ('CPC Coding scheme', 1948)
 ('Curry notation system', 1948) ('Short Code', 1949)
 ('assembly language', 1949) ('Short Code', 1950)
 ('Birkbeck Assembler', 1950) ('G-code', 1950) ('Superplan', 1951)
 ('ALGAE', 1951) ('Intermediate Programming Language', 1951)
 ('Regional Assembly Language', 1951)
 ('Boehm unnamed coding system', 1951) ('Klammerausdrücke', 1951)
 ('OMNIBAC Symbolic Assembler', 1951) ('Stanislaus', 1951)
 ('Whirlwind assembler', 1951) ('Rochester assembler', 1951)
 ('Sort Merge Generator', 1951) ('Editing Generator', 1952)
 ('COMPOOL', 1952) ('autocode', 1952) ('A-0 System', 1952)
 ('READ/PRINT', 1953) ('Speedcoding', 1953) ('Fortran', 1954)
 ('MATRIX MATH', 1954) ('autocode', 1954) ('ARITH-MATIC', 1954)
 ('Laning and Zierler system', 1954) ('MATH-MATIC', 1954)
 ('FLOW-MATIC', 1955) ('BACAIC', 1955) ('Freiburger Code', 1955)
 ('Sequentielle Formelübersetzung', 1955) ('Internal Translator', 1955)
 ('PRINT', 1955) ('PACT', 1955) ('Information Processing Language', 1956)
 ('FORTRAN for the IBM 704', 1956) ('Fortran', 1957) ('UNICODE', 1957)
 ('COMTRAN', 1957) ('GEORGE', 1957) ('ALGOL 58', 1958) ('Lisp', 1958)
 ('FORTRAN III', 1958) ('FORTRAN II', 1958) ('ALGOL', 1958)
 ('JOVIAL', 1959) ('TRAC', 1959) ('COBOL', 1959) ('Lisp', 1959)
 ('MAD', 1959) ('FACT', 1959) ('COBOL', 1960) ('COBOL', 1960)
 ('ALGOL 60', 1960) ('ALCOR', 1960) ('FORTRAN IV', 1961) ('SNOBOL', 1962)
 ('TECO', 1962) ('Simula', 1962) ('APL', 1962) ('CORC', 1962)
 ('CPL', 1963) ('JOSS', 1963) ('P′′', 1964)
 ('Report Program Generator', 1964) ('TRAC', 1964) ('BASIC', 1964)
 ('COWSEL', 1964) ('PL/I', 1964) ('MARK IV', 1964) ('MIMIC', 1964)
 ('Speakeasy', 1964) ('IBM RPG II', 1965) ('Atlas Autocode', 1965)
 ('TELCOMP', 1965) ('Euler', 1966) ('ISWIM', 1966) ('ALGOL W', 1966)
 ('JOSS', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1966)
 ('BCPL', 1966) ('Coral 66', 1966) ('FORTRAN 66', 1966) ('APL', 1966)
 ('Hop', 1967)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1967)
 ('Space Programming Language', 1967) ('BCPL', 1967) ('Interlisp', 1967)
 ('Simula', 1967) ('XPL', 1967) ('PILOT', 1968)]

# Exo 3

In [10]:
from pandas import json_normalize
import pandas as pd
import json

data = json.load(open("../data/pl.json"))
dataframe = json_normalize(data)
print(dataframe)

                                languageLabel  year
0                         ENIAC coding system  1943
1                            ENIAC Short Code  1946
2   Von Neumann and Goldstine graphing system  1946
3                                ARC Assembly  1947
4                                  Plankalkül  1948
..                                        ...   ...
95                                       BCPL  1967
96                                  Interlisp  1967
97                                     Simula  1967
98                                        XPL  1967
99                                      PILOT  1968

[100 rows x 2 columns]

In [16]:
dataframe

                                languageLabel  year
0                         ENIAC coding system  1943
1                            ENIAC Short Code  1946
2   Von Neumann and Goldstine graphing system  1946
3                                ARC Assembly  1947
4                                  Plankalkül  1948
..                                        ...   ...
95                                       BCPL  1967
96                                  Interlisp  1967
97                                     Simula  1967
98                                        XPL  1967
99                                      PILOT  1968

[100 rows x 2 columns]

In [17]:
dataframe["year"]

0     1943
1     1946
2     1946
3     1947
4     1948
      ...
95    1967
96    1967
97    1967
98    1967
99    1968
Name: year, Length: 100, dtype: object

In [18]:
dataframe["languageLabel"]

0                           ENIAC coding system
1                              ENIAC Short Code
2     Von Neumann and Goldstine graphing system
3                                  ARC Assembly
4                                    Plankalkül
                        ...
95                                         BCPL
96                                    Interlisp
97                                       Simula
98                                          XPL
99                                        PILOT
Name: languageLabel, Length: 100, dtype: object

In [19]:
dataframe.describe()

       languageLabel  year
count            100   100
unique            88    24
top            COBOL  1951
freq               3    11

In [20]:
dataframe["year"].unique()

array(['1943', '1946', '1947', '1948', '1949', '1950', '1951', '1952',
       '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968'],
      dtype=object)

In [21]:
dataframe["languageLabel"].unique()

array(['ENIAC coding system', 'ENIAC Short Code',
       'Von Neumann and Goldstine graphing system', 'ARC Assembly',
       'Plankalkül', 'CPC Coding scheme', 'Curry notation system',
       'Short Code', 'assembly language', 'Birkbeck Assembler', 'G-code',
       'Superplan', 'ALGAE', 'Intermediate Programming Language',
       'Regional Assembly Language', 'Boehm unnamed coding system',
       'Klammerausdrücke', 'OMNIBAC Symbolic Assembler', 'Stanislaus',
       'Whirlwind assembler', 'Rochester assembler',
       'Sort Merge Generator', 'Editing Generator', 'COMPOOL', 'autocode',
       'A-0 System', 'READ/PRINT', 'Speedcoding', 'Fortran',
       'MATRIX MATH', 'ARITH-MATIC', 'Laning and Zierler system',
       'MATH-MATIC', 'FLOW-MATIC', 'BACAIC', 'Freiburger Code',
       'Sequentielle Formelübersetzung', 'Internal Translator', 'PRINT',
       'PACT', 'Information Processing Language',
       'FORTRAN for the IBM 704', 'UNICODE', 'COMTRAN', 'GEORGE',
       'ALGOL 58', 'Lisp', 'FORTRAN III', 'FORTRAN II', 'ALGOL', 'JOVIAL',
       'TRAC', 'COBOL', 'MAD', 'FACT', 'ALGOL 60', 'ALCOR', 'FORTRAN IV',
       'SNOBOL', 'TECO', 'Simula', 'APL', 'CORC', 'CPL', 'JOSS', 'P′′',
       'Report Program Generator', 'BASIC', 'COWSEL', 'PL/I', 'MARK IV',
       'MIMIC', 'Speakeasy', 'IBM RPG II', 'Atlas Autocode', 'TELCOMP',
       'Euler', 'ISWIM', 'ALGOL W',
       'Massachusetts General Hospital Utility Multi-Programming System',
       'BCPL', 'Coral 66', 'FORTRAN 66', 'Hop',
       'Space Programming Language', 'Interlisp', 'XPL', 'PILOT'],
      dtype=object)

In [22]:
dataframe.sort_values(["year"])

                                        languageLabel  year
0                                 ENIAC coding system  1943
1                                    ENIAC Short Code  1946
2           Von Neumann and Goldstine graphing system  1946
3                                        ARC Assembly  1947
4                                          Plankalkül  1948
..                                                ...   ...
98                                                XPL  1967
93  Massachusetts General Hospital Utility Multi-P...  1967
92                                                Hop  1967
94                         Space Programming Language  1967
99                                              PILOT  1968

[100 rows x 2 columns]

In [23]:
dataframe.sort_values(["year", "languageLabel"])

                                        languageLabel  year
0                                 ENIAC coding system  1943
1                                    ENIAC Short Code  1946
2           Von Neumann and Goldstine graphing system  1946
3                                        ARC Assembly  1947
5                                   CPC Coding scheme  1948
..                                                ...   ...
93  Massachusetts General Hospital Utility Multi-P...  1967
97                                             Simula  1967
94                         Space Programming Language  1967
98                                                XPL  1967
99                                              PILOT  1968

[100 rows x 2 columns]

In [24]:
dataframe.dtypes

languageLabel    object
year             object
dtype: object

# Exo 4

In [25]:
import urllib.request
import json
import pandas as pd

url = "https://query.wikidata.org/sparql?query=SELECT%20%3FlanguageLabel%20(YEAR(%3Finception)%20as%20%3Fyear)%0AWHERE%0A%7B%0A%20%20%23instances%20of%20programming%20language%0A%20%20%3Flanguage%20wdt%3AP31%20wd%3AQ9143%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20wdt%3AP571%20%3Finception%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20rdfs%3Alabel%20%3FlanguageLabel.%0A%20%20FILTER(lang(%3FlanguageLabel)%20%3D%20%22en%22)%0A%7D%0AORDER%20BY%20%3Fyear%0ALIMIT%20100&format=json"
response = urllib.request.urlopen(url)
responsedata = json.loads(response.read().decode("utf-8"))

array = []

for data in responsedata["results"]["bindings"]:
    array.append([data["year"]["value"], data["languageLabel"]["value"]])

dataframe = pd.DataFrame(array, columns=["year", "languageLabel"])
dataframe = dataframe.astype(dtype={"year": "<i4", "languageLabel": "<U200"})
print(dataframe)

    year                              languageLabel
0   1942                                 Plankalkül
1   1943                        ENIAC coding system
2   1946                           ENIAC Short Code
3   1946  Von Neumann and Goldstine graphing system
4   1947                               ARC Assembly
..   ...                                        ...
95  1967                                        XPL
96  1967                 Space Programming Language
97  1968                                       CICS
98  1968                                      Refal
99  1968                                      FOCAL

[100 rows x 2 columns]

In [26]:
dataframe

    year                              languageLabel
0   1942                                 Plankalkül
1   1943                        ENIAC coding system
2   1946                           ENIAC Short Code
3   1946  Von Neumann and Goldstine graphing system
4   1947                               ARC Assembly
..   ...                                        ...
95  1967                                        XPL
96  1967                 Space Programming Language
97  1968                                       CICS
98  1968                                      Refal
99  1968                                      FOCAL

[100 rows x 2 columns]

In [29]:
dataframe["year"].describe()

count     100.000000
mean     1958.280000
std         6.532096
min      1942.000000
25%      1952.750000
50%      1959.000000
75%      1964.000000
max      1968.000000
Name: year, dtype: float64

In [30]:
dataframe["languageLabel"].describe()

count          100
unique          99
top       autocode
freq             2
Name: languageLabel, dtype: object

In [31]:
dataframe.dtypes

year              int32
languageLabel    object
dtype: object

# Exo 5

In [32]:
grouped = dataframe.groupby("year").count()
grouped

      languageLabel
year
1942              1
1943              1
1946              2
1947              1
1948              2
1950              3
1951             11
1952              4
1953              2
1954              4
1955              8
1956              1
1957              6
1958              2
1959              4
1960              7
1961              1
1962              5
1963              3
1964             11
1965              5
1966              7
1967              6
1968              3

In [33]:
grouped = dataframe.groupby("year").agg(["count"])
grouped

     languageLabel
             count
year
1942             1
1943             1
1946             2
1947             1
1948             2
1950             3
1951            11
1952             4
1953             2
1954             4
1955             8
1956             1
1957             6
1958             2
1959             4
1960             7
1961             1
1962             5
1963             3
1964            11
1965             5
1966             7
1967             6
1968             3

In [35]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open("../data/plparadigm.json"))
array = []

for data in jsondata:
    array.append([data["year"], data["languageLabel"], data["paradigmLabel"]])

dataframe = pd.DataFrame(array, columns=["year", "languageLabel", "paradigmLabel"])
dataframe = dataframe.astype(
    dtype={"year": "int64", "languageLabel": "<U200", "paradigmLabel": "<U200"}
)

grouped = dataframe.groupby(["year", "paradigmLabel"]).agg(["count"])
grouped

                                            languageLabel
                                                    count
year paradigmLabel
1948 procedural programming                             1
1949 non-structured programming                         1
     procedural programming                             1
1950 procedural programming                             1
1953 procedural programming                             1
...                                                   ...
1970 imperative programming                             1
     procedural programming                             1
     structured programming                             1
1971 functional programming                             1
     knowledge representation and reasoning             1

[73 rows x 1 columns]

In [9]:
from pandas import json_normalize
import pandas as pd
import json

jsondata = json.load(open("../data/population.json"))
array = []

for data in jsondata:
    array.append([data["countryLabel"], data["year"],  data["population"]])

dataframe = pd.DataFrame(array, columns=["countryLabel", "year", "population"])
dataframe = dataframe.astype(
    dtype={"year": "int64", "countryLabel": "<U200", "population": "int64"}
)
# Q1
grouped = dataframe.sort_values(by=["year", "countryLabel"], ascending=[True, True])
grouped

    countryLabel  year  population
347    Argentina  1895     3954911
172      Andorra  1910        5231
348    Argentina  1910     7091822
0    Afghanistan  1960     8774440
58       Albania  1960     1608800
..           ...   ...         ...
755      Belarus  2021     9349645
114      Albania  2022     2793592
405    Argentina  2022    47327407
581      Austria  2022     8979894
756      Belarus  2022     9255524

[1000 rows x 3 columns]

In [15]:
# Q2
q2 = dataframe.sort_values(by=["countryLabel", "year"], ascending=[True, False]).drop_duplicates(subset="countryLabel", keep="first")

In [20]:
# Q3
popmax = q2.loc[q2['population'].idxmax()] 
popmin = q2.loc[q2['population'].idxmin()] 
print(popmax, "\n", popmin)

countryLabel       Brazil
year                 2012
population      198656019
Name: 999, dtype: object
 countryLabel    Andorra
year               2021
population        78151
Name: 230, dtype: object

In [21]:
from pandas import json_normalize
import pandas as pd
import json

jsondata = json.load(open("../data/article.json"))
array = []

for data in jsondata:
    array.append([data["title"], data["year"],  data["subjectLabel"]])

dataframe = pd.DataFrame(array, columns=["title", "year", "subjectLabel"])
dataframe = dataframe.astype(
    dtype={"year": "int64", "title": "<U200", "subjectLabel": "<U200"}
)
# Q1
grouped = dataframe.groupby(["year", "subjectLabel"]).size().reset_index(name="nb_articles")
grouped

    year subjectLabel  nb_articles
0   2011       Africa            6
1   2011       Canada          471
2   2011        death            1
3   2011    happiness           90
4   2012       Africa            9
5   2012       Canada          530
6   2012        death            2
7   2012    happiness           95
8   2012        human            2
9   2013       Africa           15
10  2013       Canada          598
11  2013        death            2
12  2013    happiness          113
13  2013        human            1
14  2014       Africa           35
15  2014       Canada          554
16  2014        death            2
17  2014    happiness          126
18  2014        human            1
19  2015       Africa           23
20  2015       Canada          487
21  2015        death            3
22  2015    happiness          148
23  2015        human            2
24  2016       Africa            4
25  2016       Canada          541
26  2016        death            2
27  2016    happiness          146
28  2016        human            1
29  2017       Africa           12
30  2017       Canada          259
31  2017        death            1
32  2017    happiness          138
33  2018       Africa           14
34  2018       Canada          130
35  2018        death            2
36  2018    happiness          146
37  2018        human            2
38  2019       Africa           22
39  2019       Canada           44
40  2019    happiness          135
41  2019        human            1
42  2020       Africa           21
43  2020        Earth            1
44  2020        death            2
45  2020    happiness           40
46  2020        human            1
47  2020         life            1
48  2020     universe            1
49  2021       Africa            5
50  2021        death            2
51  2021    happiness            2
52  2021        human            3
53  2021         life            2
54  2022        human            3

In [28]:
# Q2
q2 = grouped.sort_values(by=["year","nb_articles"], ascending=[True,False]).drop_duplicates(subset="year", keep="first")
q2

    year subjectLabel  nb_articles
1   2011       Canada          471
5   2012       Canada          530
10  2013       Canada          598
15  2014       Canada          554
20  2015       Canada          487
25  2016       Canada          541
30  2017       Canada          259
36  2018    happiness          146
40  2019    happiness          135
45  2020    happiness           40
49  2021       Africa            5
54  2022        human            3

In [29]:
# Q3
q2.sort_values(by="nb_articles", ascending=False).head(10)

    year subjectLabel  nb_articles
10  2013       Canada          598
15  2014       Canada          554
25  2016       Canada          541
5   2012       Canada          530
20  2015       Canada          487
1   2011       Canada          471
30  2017       Canada          259
36  2018    happiness          146
40  2019    happiness          135
45  2020    happiness           40

# Exo 6

In [30]:
import sys
from SPARQLWrapper import SPARQLWrapper, JSON

endpoint_url = "https://query.wikidata.org/sparql"

# Get cities
query = """SELECT DISTINCT ?grandeville ?grandevilleLabel ?pays ?paysLabel ?image {
  ?grandeville wdt:P31 wd:Q1549591;
               wdt:P17 ?pays;
               wdt:P18 ?image.
 SERVICE wikibase:label { bd:serviceParam wikibase:language "fr". }
}
LIMIT 10"""


def get_results(endpoint_url, query):
    user_agent = "WDQS-example Python/%s.%s" % (
        sys.version_info[0],
        sys.version_info[1],
    )
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    return sparql.query().convert()


array = []
results = get_results(endpoint_url, query)

for result in results["results"]["bindings"]:
    array.append(
        (
            result["grandevilleLabel"]["value"],
            result["paysLabel"]["value"],
            result["image"]["value"],
        )
    )
    
dataframe = pd.DataFrame(array, columns=["ville", "pays", "image"])
dataframe = dataframe.astype(
    dtype={"ville": "<U200", "pays": "<U200", "image": "<U200"}
)
dataframe

,ville,pays,image
0,Gand,Belgique,http://commons.wikimedia.org/wiki/Special:File...
1,Singapour,Singapour,http://commons.wikimedia.org/wiki/Special:File...
2,Islamabad,Pakistan,http://commons.wikimedia.org/wiki/Special:File...
3,Perm,Russie,http://commons.wikimedia.org/wiki/Special:File...
4,Vilnius,Lituanie,http://commons.wikimedia.org/wiki/Special:File...
5,Chicago,États-Unis,http://commons.wikimedia.org/wiki/Special:File...
6,Milan,Italie,http://commons.wikimedia.org/wiki/Special:File...
7,Pékin,république populaire de Chine,http://commons.wikimedia.org/wiki/Special:File...
8,Heilbronn,Allemagne,http://commons.wikimedia.org/wiki/Special:File...
9,Heilbronn,Allemagne,http://commons.wikimedia.org/wiki/Special:File...

In [34]:
import requests
import shutil
import os


def download_image(url):

    headers = {"User-Agent": "Mozilla/5.0"}
    request = requests.get(url, allow_redirects=True, headers=headers, stream=True)
    if request.status_code == 200:
        with open(os.path.basename(url), "wb") as image:
            request.raw.decode_content = True
            shutil.copyfileobj(request.raw, image)
    return request.status_code

dataframe.image.apply(download_image)

0    200
1    200
2    200
3    200
4    200
5    200
6    200
7    200
8    200
9    200
Name: image, dtype: int64